# API RestCountries
RESTCOUNTRIES_URL=https://restcountries.com/v3.1

# WeatherAPI
WEATHERAPI_URL=http://api.weatherapi.com/v1
WEATHERAPI_KEY=yourkey # Remplacez par votre véritable clé API Weather

# Open Food Facts
OPENFOODFACTS_URL=https://world.openfoodfacts.org/api/v0

# Port de l'API
PORT=8080

# URL de l'API (pour le front-end, à ajuster après déploiement)
# VITE_API_URL=http://localhost:8080/api # Cette variable est pour le .env du frontend

